@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.blurb h2 {
    color: #ea1c2c;
    font-weight: 200;
    font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
}

body {
    background-color: #f5d9d5;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 300;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
}

#mainNavbar .navbar-nav .nav-link {
    color: #fff;
    transition: all 0.3s;
}

#mainNavbar .navbar-nav .nav-link:hover {
    color: #ea1c2c;
}

#headingGroup span {
    color: #ea1c2c;
}

#headingGroup h1 {
    font-size: 4rem;
    font-weight: 300;
}

.navbar.scrolled {
    background: rgb(222, 192, 222);
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 2rem;
        font-weight: 200;
    }
}
